:root{
    --main-color: #434455;
    --title-color: #2E2F42;
    --white-color: #fff;
    --iris-color: #4D5AE5;
    --cloud-color: #f4f4fd;
    --border-color: #E7E9FC;
    --success-color: #31D0AA;
    --ocean-color: #404BBF;
    --light-slate: #8E8F99;
    --hero-back: rgba(46, 47, 66, 0.7);
    --anim: 250ms cubic-bezier(0, 0.79, 0.67, 1.36)

    --indent: 48px;
    --item: 1;
}

/* ============================
            Reset
==============================*/
ul,ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: currentColor;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
img {
    display: block;
}
button{
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}
/* ============================
            Main
==============================*/
body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    background-color: var(--white-color);
    letter-spacing: 0.02em;
    line-height: calc(24 / 16);
}
.title {
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    text-align: center;
    color: var(--title-color);
    margin-bottom: 72px;
}
.min-title {
    line-height: calc(40 / 36);
    text-transform: capitalize;
    color: var(--title-color);

    margin-bottom: 8px;
}
@media screen and (min-width: 1158px) {
    .min-title{
        line-height: calc(24 / 20);
    }
}
.text {
    color: var(--main-color);
    font-weight: 500;
}
@media screen and (min-width: 1158px) {
    .text {
        font-weight: 400;
    }
}
.container {
    min-width: 320px;
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
.section {
    padding: 96px 0;
}
@media screen and (min-width: 768px) {
    .section {
        padding: 120px 0;
    }
}


.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-item-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris-color);
    color: var(--cloud-color);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item-link:hover,
.social-item-link:focus {
    background-color: #404bbf;
}

.icon {
    fill: currentColor;
}

.btn {
    display: block;

    letter-spacing: 0.04em;
    background-color: var(--iris-color);
    color: var(--white-color);
    font-weight: 500;
    line-height: calc(24 / 16);

    border-radius: 4px;
    border: none;

    margin: 0 auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
    background-color: #404BBF;
}

.card-set{
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}    
.card-item{
    flex-basis: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* ============================
            Header
==============================*/

.header{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
    padding: 24px 0;
}
@media screen and (min-width: 768px) {
    .header {
        padding: 0;
    }
}
.header-container{
    display: flex;
    gap: 120px;
    justify-content: space-between;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .header-container {
        gap: 120px;
    }
}
@media screen and (min-width: 1158px) {
    .header-container {
        gap: 0;
    }
}

.header-container a{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-container a:hover,
.header-container a:focus{
    color: var(--ocean-color);
}
.header-logo,
.footer-logo {
    color: var(--iris-color);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: calc(21 / 18);
    letter-spacing: 0.03em;
}
.header-logo{
    margin-right: auto;
}
.header-logo-span {
    color: var(--title-color);
}
.header-navigation {
    display: none;
}
@media screen and (min-width: 768px) {
    .header-navigation {
        display: flex;
    }
}
@media screen and (min-width: 1158px) {
    .header-navigation {
        margin-right: 332px;
    }
}
.header-contacts{
    display: none;
}
@media screen and (min-width: 768px) {
    .header-contacts {
        display: block;
    }
}
.header-contacts-list{
    display: flex;
    flex-wrap: wrap;
    gap: 12px 40px;
}
.header-contacts-item{
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.04em;
}
@media screen and (min-width: 1158px) {
    .header-contacts-item > a {
        font-size: 16px;
        line-height: calc(24 / 16);
        letter-spacing: 0.02em;
    }
}

.header-nav-link {
    font-weight: 500;
    display: block;
    color: var(--title-color);
    padding: 24px 0;
}

.header-list{
    display: flex;
    gap: 40px;
}

.current {
    color: var(--ocean-color);
    position: relative;
}
@media screen and (min-width: 768px) {
    .current::after {
        content: '';
    
        display: block;
        position: absolute;
    
        height: 4px;
        width: 100%;
        background-color: var(--ocean-color);
        border-radius: 2px;
        bottom: 0;
    }
}

.burger-menu{
    display: flex;
}
@media screen and (min-width: 768px) {
    .burger-menu {
        display: none;
    }
}
/* ============================
            First section
==============================*/
.first-section {
    background-color: var(--title-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: linear-gradient(var(--hero-back), var(--hero-back)),
    url(../images/hero/back@1x-1.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(var(--hero-back), var(--hero-back)),
        url(../images/hero/back@2x-1.jpg);
    }

    @media screen and (min-width: 429px) {
        background-image: linear-gradient(var(--hero-back), var(--hero-back)),
        url(../images/hero/back@1x.jpg);
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(var(--hero-back), var(--hero-back)),
            url(../images/hero/back@2x.jpg);
        }
    }

    @media screen and (min-width: 769px) {
        background-image: linear-gradient(var(--hero-back), var(--hero-back)),
            url(../images/hero/back@1x-2.jpg);
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(var(--hero-back), var(--hero-back)),
                url(../images/hero/back@2x-2.jpg);
        }
    }

    padding: 112px 0;
    margin: 0 auto;
}
/* @media screen and (min-width: 768px) {
    .first-section {
        max-width: 768px;
    }
} */
@media screen and (min-width: 1158px) {
    .first-section {
        padding: 188px 0px; 
        max-width: 1440px;
    }
}

.first-section-title{
    max-width: 320px;
    font-size: 36px;
    font-weight: 700;
    line-height: calc(40 / 36);
    color: var(--white-color);
    text-align: center;

    margin: 0 auto;
    margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
    .first-section-title {
        max-width: 496px;
        font-size: 56px;
        line-height: calc(60 / 56);
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .first-section-title {
        margin-bottom: 48px;
    }
}
.first-section-button {
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
}

/* ============================
            Feature section
==============================*/
.feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
}

@media screen and (min-width: 768px) {
    .feature-item {
        width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px) {
    .feature-item {
        width: calc((100% - 72px) / 4);
    }
}
.feature-icon-wrap{
    display: none;
}
@media screen and (min-width: 1158px) {
    .feature-icon-wrap {
        display: flex;
    
        align-items: center;
        justify-content: center;
    
        height: 112px;
        border-radius: 4px;
        background-color: var(--cloud-color);
         margin-bottom: 8px;
    }
}

.feature-title{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    margin-bottom: 8px;
} 
@media screen and (min-width: 768px) {
    .feature-title {
        text-align: start;
    }
}
@media screen and (min-width: 1158px) {
    .feature-title {
        font-weight: 500;
        font-size: 20px;
        line-height: calc(24 / 20);
    }
}

/* ============================
            About section
==============================*/
.about-section {
    display: none;
}
@media screen and (min-width: 1158px) {
    .about-section {
        display: block;
        padding-top: 0px;
    }
}
.about-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.about-item {
    width: calc((100% - 48px) / 3);
}


/* ============================
            Team section
==============================*/
.team-section {
    background-color: var(--cloud-color);
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .team-container {
        max-width: 583px;
    }
}
.team-list {
    display: flex;

    flex-direction: column;
    align-items: center;

    gap: 72px;
    
}
.team-item {
    width: 264px;
    background-color: var(--white-color);
    text-align: center;

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.078), 
        0px 1px 1px 0px rgba(46, 47, 66, 0.161), 
        0px 1px 6px 0px rgba(46, 47, 66, 0.078);
}
@media screen and (min-width: 768px){
    .team-list{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }
    .team-item{
        width: calc((100% - 24px) / 2)
    }
}
@media screen and (min-width: 1158px) {
    .team-list{
        justify-content: space-between; 
        gap: 24px;
    }
    .team-item {
        width: calc((100% - 72px) / 4);
    }
}

.team-card-wrap {
    width: 100%;

    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;
}
.team-text{
    margin-bottom: 8px;
}
/* ============================
            Customers section
==============================*/
.customers-list{
    display: flex;
    gap: 72px 16px;
    flex-wrap: wrap;
    justify-content: center;
}
.customers-item{
    height: 88px;
    width: calc((100% - 16px) / 2);
}
@media screen and (min-width: 768px) {
    .customers-list {
        gap: 72px 24px;
        max-width: 552px;
        margin: 0 auto;
    }
    .customers-item {
        width: calc((100% - 48px) / 3);
    }
}
@media screen and (min-width: 1158px) {
    .customers-list {
        gap: 24px;
        max-width: 100%;
    }

    .customers-item {
        width: 168px;
    }
}
.customers-link{
    display: flex;
    
    align-items: center;
    justify-content: center;
    
    border: 1px solid #8E8F99;
    color: var(--light-slate);
    border-radius: 4px;
    height: 100%;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
    color: var(--ocean-color);
    border: 1px solid var(--ocean-color);
}
/* ============================
            Footer
==============================*/
.footer {
    background-color: var(--title-color);
    padding: 96px 0;
}
@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }
}
.footer-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
    
    /* align-items: baseline; */
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-wrap {
        max-width: 552px;
        justify-content: flex-start;
    }
}
@media screen and (min-width: 1158px) {
    .footer-wrap {
        gap: 0;
    }
}
.footer-logo {
    display: block;
    text-align: center;
    margin-bottom: 16px;
}

.footer-container {
    max-width: 268px;
}
@media screen and (min-width: 768px) {
    .footer-logo {
        display: inline-block;
    }
    .footer-container{
        width: 264px;
    }
}
@media screen and (min-width: 1158px) {
    .footer-container {
        margin-right: 120px;
    }
}
.footer-text {
    color: var(--cloud-color);
}
@media screen and (min-width: 768px) {
    .footer-text {
        max-width: 264px;
    }
}
@media screen and (min-width: 1158px) {
    .footer-social {
        margin-right: 80px;
    }
}

.footer-social-list {
    gap: 16px;
    width: 208px;
}
.footer-icon:hover,
.footer-icon:focus {
    background-color: #31d0aa;
}

.footer-social-text{
    color: var(--white-color);
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
    .footer-social-text{
        text-align: left;
    }
}
/* .subscribe-list{
    display: flex;
} */
.footer-subscribe{
    width: 100%;
}
@media screen and (min-width: 768px) {
    .footer-subscribe {
       width: auto;
    }
}
@media screen and (min-width: 768px) {
    .subscribe-form {
        display: flex;
        gap: 24px;
    }
}

.subscribe-input{
    display: block;
    width: 100%;
    
    height: 40px;
    background-color: transparent;

    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding-left: 16px;
    margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
    .subscribe-input {
        width: 264px;
    }
}
.subscribe-input::placeholder {
    font-size: 12px;
    line-height: calc(24 / 12);
    letter-spacing: 0.04em;
    color: var(--white-color);
}
.footer-form-btn{
    width: 165px;
    height: 40px;
    padding: 8px 24px;

    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .footer-form-btn {
        margin: 0;
    }
}
/* ============================
         Portfolio page
==============================*/
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.portfolio-nav-button {
    padding: 11px 23px;
    color: var(--iris-color);
    background-color: var(--cloud-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: 0.04em;

    transition-property: box-shadow, color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.portfolio-nav-button:hover, 
.portfolio-nav-button:focus{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--white-color);
    background-color: #404BBF;
    border: 1px solid transparent;
}
.portfolio-card-list{
    max-width: 396px;
    --item: 1;
    --indent: 48px;
}
@media screen and (min-width: 768px) {
    .portfolio-card-list {
        max-width: 736px;
        --item: 2;
        --indent: 72px 24px;
    }
}
@media screen and (min-width: 1158px) {
    .portfolio-card-list {
        max-width: 1128px;
        --item: 3;
        --indent: 48px 24px;
    }
}
.portfolio-card-item{
    background: var(--white-color);
}
.portfolio-card-link{
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-link:hover,
.portfolio-card-link:focus  {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-card-title{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-img-wrap{
    position: relative;
    overflow: hidden;
}
.portfolio-img{
    width: 100%;
}
.portfolio-overlay{
    position: absolute;
    top: 0;
    left: 0;

    padding: 40px 32px;
    width: 100%;
    height: 100%;
    background-color: rgb(77, 90, 229);

    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-link:hover .portfolio-overlay,
.portfolio-card-link:focus .portfolio-overlay {
    transform: translatey(0);
}
.overlay-text{
    color: var(--cloud-color);
}

/* ============================
         Modal
==============================*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms linear, visibility 450ms linear 100ms;
}
.backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.05);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 450ms cubic-bezier(0, 0.79, 0.67, 1.36);

    max-width: 392px;
    
    width: 90%;
    min-height: 576px;
    padding: 24px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8E8F99;
}
@media screen and (min-width: 768px) {
    .modal {
        max-width: 408px;
    }
}
.modal-close-button{
    display: flex;
    margin-left: auto;
    margin-bottom: 24px;

    width: 24px;
    height: 24px;
    border-radius: 50%;

    justify-content: center;
    align-items: center;

    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.modal-close-button:hover, 
.modal-close-button:focus {
    background-color: var(--ocean-color);
    color: var(--white-color);
    border: none;
}
.modal-form-title{
    display: block;
    margin-bottom: 16px;

    text-align: center;
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.modal-form-field{
    position: relative;
    margin-bottom: 8px;
}
.modal-form-label{
    display: block;

    line-height: calc(14 / 12);
    margin-bottom: 4px;
}

.modal-form-input{
    width: 100%;
    height: 40px;
    padding-left: 38px;
    padding-right: 38px;
    outline: transparent;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    transition: border var(--anim);
}
.modal-form-input:focus{
    border: 1px solid var(--iris-color);
}
.modal-form-input:focus + .modal-form-icon{
    fill: var(--iris-color);
}
.modal-form-icon{
    position: absolute;
    bottom: 8px;
    left: 16px;
    fill: #2E2F42;

    pointer-events: none;
    transition: fill var(--anim);
}

.modal-form-message{
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    outline: transparent;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border var(--anim);
}
.modal-form-message:focus{
    border: 1px solid var(--iris-color);
}

.modal-form-message::placeholder {
    color: rgba(46, 47, 66, 0.4);
}
.modal-form-agreement{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 24px;
    gap: 8px;
}

.checkbox-check{
    opacity: 0;
    transition: opacity var(--anim);
}
.checkbox-uncheck{
    opacity: 1;
    transition: opacity var(--anim);
}
.modal-form-checkbox:checked + .modal-custom-checkbox > .checkbox-check{
    opacity: 1;
}
.modal-form-checkbox:not(:checked)+.modal-custom-checkbox>.checkbox-check {
    opacity: 0;
}
.modal-form-desc{
    line-height: calc(16 / 12);
}
.modal-form-link{
    color: var(--iris-color);
    text-decoration: underline;
}
.modal-form-btn{
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    font-size: 16px;
}
/* ============================
         Burger
==============================*/
.js-menu-container{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.js-menu-container.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events:initial
}

.burger-modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    padding: 80px 40px;
    transform: translateX(100%);
    transition-property: transform, opacity, visibility;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 400ms;

    background-color: var(--white-color);
}
.burger-modal.is-open{
    transform: translateX(0);
}

.burger-button {
    position: absolute;
    top: 24px;
    right: 24px;

    background-color: transparent;
}

.burger-list{
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin-bottom: auto;
}

.burger-link{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
}

.burger-contacts-list{

    margin-bottom: 48px;
}

.burger-social-list{
    max-width: 328px;
    justify-content: space-between;
}
.burger-phone{
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    color: var(--iris-color);
    margin-bottom: 40px;
}

.burger-email{
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
}